@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  background: #efefef;
  animation: fadein 0.5s;
  color: #6A6A6A;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}
button {
  outline: none;
}

code {
  background: #e4e4e4;
  padding: 4px;
  color: #1d89ff;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: #889aa7;
}
a:hover {
  color: #4ba8d8;
}

li > input, select, textarea, .bookmark-icon-button {
  background-color: #E8E8E8;
  border: #CDCDCD solid 1px;
  border-radius: 4px;
}

li > input, select, textarea {
  outline: none;
  padding: 10px;
  font-size: 15px;
}

li > input:hover:enabled,
li > input:focus,
textarea:hover,
textarea:focus,
select:hover,
select:focus,
.bookmark-icon-button:hover {
  border: #4ba8d8 1px solid;
}

hr {
  margin: 17px 0 18px;
  height: 0;
  clear: both;
  border: solid #E8E8E8;
  border-width: 1px 0 0;
  border-bottom: 1px solid #F1F1F1;
  border-top: 1px solid #D7D7D7;
}

h3 {
  padding: 0;
  margin: 0;
  color: #4ba8d8;
}

.section-title {
  display: flex;
  justify-content: space-between;
}

.section-title > input {
  flex: 1;
  text-align: right;
  margin-left: 20px;
  background-color: #efefef;
  border: none;
  border-radius: 0;
  font-family: 'FontAwesome', 'Open Sans', sans-serif;
}

.section-title > input:focus {
  outline: none;
  border-bottom: #4ba8d8 solid 1px;
}

.logo {
  margin: 20px 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  height: 100px;
  width: 260px;
}

.logo > h2 {
  padding: 20px 100px 0px 20px;
  color: #4ba8d8;
  margin: 0;
}

.logo > p {
  padding:0 100px 10px 20px;
  color: #fff;
  margin: 0;
  font-size: small;
}

.disabled {
  color: #ccc;
}

section {
  padding-top:30px;
  margin-bottom: 85px;
}

.container {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100%;
}

nav {
  min-width: 210px;
  background: #222222;
  margin-right: 40px;
}

.menu a {
  cursor: default;
  text-decoration: none;
  padding-right: 20px;
}
.nav-container {
  position: fixed;
}
.menu {
  width: inherit;
  cursor: default;
  padding-right: 50px;
}
.menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 0;
  padding: 0;
}

.menu li {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  color:#555e63;
  text-transform: uppercase;
  letter-spacing: .09em;
  padding: 10px 0 10px 10px;
}

.menu li:hover {
  color: #79a7bf;
  background-color: #2E2E2E;
}

.menu i {
  padding-right: 10px;
}

.flex-column {
  max-width: 900px;
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
  flex: 1;
  flex-direction: column;
}

.login {
  margin: auto;
}

/* General Forms */
.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.sort-label,
.flex-outer > li > label {
  margin-right: 20px;
}

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px;
}

.login > li > label {
  min-width: 120px;
}

.sort-wrapper > li:not(:last-child),
.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer li button {
  margin-right: 20px;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
  flex: 1 0 150px;
}

.flex-outer li button:last-of-type {
  margin-right: 0;
}

.flex-outer li button.inline-button {
    border-radius: 4px;
    margin-left: 20px;
    background: #383838;
    padding: 10px;
    max-width: 92px;
}

.flex-outer li button.disabled {
  background: #ccc;
  cursor: not-allowed;
}

.flex-outer li.optional {
  align-items: stretch;
}

.flex-inner {
  flex: 1;
  justify-content: space-between;
}

.InputAddOn {
  display: flex;
  border: #CDCDCD solid 1px;
  border-radius: 4px;
}

.InputAddOn:hover {
  border: #4ba8d8 1px solid;
}

.addon-selected {
  border: #4ba8d8 1px solid;
}

/* Login styles */
.login-header {
  display: flex;
}
.login-header .logo {
  margin: 0 10px 0 0;
  height: inherit;
  background-position: inherit;
  width: 65px;
}
.login-header > h1 {
  margin: 0;
  font-size: 3em;
}

input.InputAddOn-field {
  flex: 1;
  outline: none;
  padding: 10px;
  background-color: #E8E8E8;
  border: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 15px;
}

.InputAddOn-item {
  outline: none;
  padding: 10px;
  background-color: #CDCDCD;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  font-size: 15px;
  cursor: default;
}

.InputAddOn-item:hover {
  background-color: #889aa7;
  color: #fff;
}

.has-error {
  border-color: red !important;
  background-color: #f9d7d7 !important;
}

/* checkbox to button */
#ck-button {
    margin:4px;
    background-color:#EFEFEF;
    border-radius:3px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
}

#ck-button label span {
    text-align:center;
    padding:8px;
    display:block;
}

#ck-button input:checked + span {
    background-color: #889aa7;
    color:#fff;
}

/* Sorting Issues */
select[id^="sort-"] {
  flex: 1;
  align-self: stretch;
}

.sort-function {
  flex: 1;
  max-width: 40px;
  justify-content: center;
}

li.sort-selection {
  flex: 1;
  display: flex;
  height: 40px;
}

.sort-list:not(:last-of-type) {
  margin-bottom: 20px;
}

.glow:hover {
  color: #4ba8d8;
  cursor: default;
}

.remove:hover {
  color: red;
}

/* Bookmarks */
.table-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-end;
}

.table-row {
  display: flex;
  align-items: center;
}
.table-row:nth-child(odd) {
  background-color: #e8e8e8;
}

.table-column {
  flex: 1 0 40px;
  max-width: 20px;
  margin: 10px;
}

.bookmark-title {
  flex: 1;
  margin: 10px;
}

.help {
  font-size: small;
  color: #ccc;
  margin: 0;
}

.sort-label {
  align-self: flex-start;
}

.flex-outer.sort-wrapper {
  flex: 1;
}
.sort-wrapper ul.flex-outer button {
  background: #889aa7;
  border-radius: 5px;
  max-width: 300px;
}
.sort-wrapper ul.flex-outer button:hover {
  background: #4ba8d8;
}
.bookmark-form {
  padding: 10px;
  margin-bottom: 20px;
}

.center-separator {
  display: flex;
}
.center-separator, 
.center-separator > i {
  line-height: 2.8rem;
}
.center-separator:after,
.center-separator:before {
  content: '';
  flex: 1;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 48.5%, #d6d6d6 48.5%, #ffffff 51.5%, rgba(255, 255, 255, 0) 51.5%)
}
.center-separator:after {
  margin-left: 10px;
}
.center-separator:before {
  margin-right: 10px;
}

.bookmark-icon {
  max-width: 38px;
}
.bookmark-icon-button {
  margin-left: 10px;
}
.success {
  background: #65bb65 !important;
}

#select-all {
  align-self: flex-end;
  font-size: smaller;
  margin-left: 10px;
  cursor: pointer;
  color: #ccc;
}
#select-all:hover {
  color: #383838;
}
